html {
  font-family: "Open Sans", sans-serif;
  background: #fff;
  color: #000;
}

.btn {
  background: #000;
  color: #f2f2f2;
  border-radius: 6px;
  border-color: #000;
}

.rap {

}

@media only screen and (min-width: 60em) {
